@import url('https://fonts.googleapis.com/css?family=Cinzel|Cinzel+Decorative|Montserrat&display=swap');

* {
	box-sizing: border-box;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: row;
	margin: 0;
	font: 0.8em Montserrat;
	line-height: 1.8;
}

.col-1 {
	background: #412518;
	color: #fff;
	flex: 1;
	text-align: center;
}

.col-2 {
	display: flex;
	flex-direction: column;
	flex: 5;
}

.content {
	display: flex;
	flex-direction: row;
}

.content>article {
	flex: 3;
	min-height: 60vh;
}


header {
	background-image: url(../images/beans.jpg);
	height: 20vh;
	padding: 1em;
	display: inline-grid;
	justify-items: center;
	align-items: center;
	color: #fff;
} 

footer {
	background-image: url(../images/beans.jpg);
	height: 20vh;
	padding: 1em;
	display: inline-grid;
	justify-items: center;
	align-items: center;
	color: #fff;
}

article {
	padding: 1em 2em;
	box-shadow: inset 0px 0px 25px rgba(0,0,0,0.2);
	text-align: justify;
} 

nav {
	padding: 1em;
}

aside {
	padding: 1em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  margin: 3em;
}

li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font: 1.6em Cinzel Decorative;
	color: #fff;
}

li a:hover {
	background-color: #5D4235;
}

.active {
	background-color: #5D4235;
}

.active:hover {
	background-color: #1E96A6;
}

.title {
	color: #fff;
	margin-bottom: 20px;
	font: 5em Cinzel Decorative;
}

h1 {
	margin: 10px 0 !important;
	text-align: center;
	font: 3em Cinzel Decorative;
	color: #412518;
	padding-left: 10px;
	border-bottom: 3px solid #B5D9D9;
}

h2 {
	margin: 0 !important;
	background: #5D4235;
	padding: 15px;
	border-left: 15px solid #B5D9D9;
	font: 1.5em Cinzel;
	color: #fff;
}

@media screen and (min-width: 576px) {
  
}